
.section {
    padding-top: 120px;
    padding-bottom: 120px;

    &_face {
        padding-top: 70px;
        padding-bottom: 390px;
        background-image: url("../media/section/face.jpg");
        background-position: center;
        background-size: cover;
    }

    &_info {
        background-color: #121212;
    }

    &_symptoms {
        background-color: #000;
        background-image: url("../media/section/symptoms.jpg");
        background-position: center;
    }
}

.section__title {
    font-family: "Akrobat", sans-serif;
    font-size: 68px;
    font-weight: 700;
    line-height: 1;
    color: #fff;
}

@media (max-width: 1280px) {
    .section {
        padding-top: 60px;
        padding-bottom: 60px;

        &_face {
            padding-bottom: 230px;
        }
    }

    .section__title {
        font-size: 44px;
    }
}

@media (max-width: 768px) {
    .section {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .section__title {
        font-size: 38px;
    }
}

@media (max-width: 480px) {
    .section__title {
        font-size: 30px;
    }
}
