<section class="section section_info">
    <div class="container">
        <div class="info">
            <div class="info__media">
                <img src="../media/info/bg.png" alt="">
            </div>
            <div class="info__body">
                <div class="section__title info__title" data-aos="fade-up">Простатит – заболевание, связанное с <mark> воспалением предстательной железы.</mark> </div>
                <div class="info__description">
                    <p>На сегодняшний день простатит является одним из самых распространенных урологических заболеваний, выявляемым у 60-80% мужчин.</p>
                    <p>Он может проявиться в любом возрасте, протекать незаметно, без выраженных симптомов, но при этом оказывать негативное влияние на здоровье и качество жизни мужчины.</p>
                    <p class="info__mark"><mark>Простатит может развиваться практически незаметно,</mark> поэтому важно прислушиваться к сигналам своего организма.</p>
                </div>
            </div>
        </div>
    </div>
</section>