<section class="section section_product">
    <div class="container">
        <div class="product">
            <div class="section__title product__title">Erogan – комплексное лечение <span>простатита <mark>в одном препарате</mark></span></div>
            <div class="product__body">
                <div class="product__item">
                    <div class="product__item-title">Мгновенное <span>действие</span></div>
                    <div class="product__description">Избавляет от тянущих и режущих болей, нормализует отток мочи</div>
                </div>
                <div class="product__item">
                    <div class="product__item-title">Купирование <span>воспаления</span></div>
                    <div class="product__description">Обладает антибактериальным действием, останавливает размножение патогенных микробов</div>
                </div>
                <div class="product__item">
                    <div class="product__item-title">Долгосрочный <span>эффект</span></div>
                    <div class="product__description product__description_black">Защищает от рецидивов при остром простатите, увеличивает продолжительность ремиссии – при хроническом</div>
                </div>
                <div class="product__media">
                    <img src="../media/product/product.png" alt="">
                </div>
            </div>
        </div>
    </div>
</section>