<section class="section section_professional">
    <div class="container">
        <div class="professional">
            <div class="section__title professional__title">Что о Prostero говорят специалисты?</div>
            <div class="professional__body">
                <p><mark>Реалии сегодняшней жизни таковы, что сохранить мужское здоровье подчас совсем непросто. Сидячий образ жизни, стресс, вредные привычки – все это неизбежно приводит к застойным явлениям в малом тазу. Именно этот патологический процесс становится основной причиной развития простатита. Недаром чаще всего это заболевание встречается у тех, кто много времени проводит за рулем автомобиля, у офисных работников, у тех, кто в силу проблем со здоровьем не может вести активный образ жизни.</mark></p>
                <p>К счастью, сегодня существуют препараты, которые помогают устранить эту проблему. Такие, как, например, Erogan.</p>
                <p>Это средство "убивает" инфекцию, усиливает местный лимфоток, удаляя избыток погибших и поврежденных клеток из области предстательной железы и мочеиспускательного канала. Это лишает инфекцию питания, а сама по себе очистка тканей от «шлаков» создает условия для регенерации тканей и восстановления функции органа.</p>
                <div class="professional__footer">
                    <p><mark>Игорь Андреев,</mark> уролог-андролог, <span>кандидат медицинских наук</span></p>
                    <div class="professional__humanId">
                        <img src="../media/professional/id.png" alt="">
                    </div>
                </div>
                <div class="professional__human">
                    <img src="../media/professional/human.png" alt="">
                </div>
            </div>
        </div>
    </div>
</section>