<section class="section section_result">
    <div class="container">
        <div class="result">
            <div class="section__title result__title">Результаты клинических исследований</div>
            <div class="result__subtitle">Данные получены на основе двойного слепого исследования <span>на 1896 мужчинах от 18 до 60 лет</span></div>
            <div class="result__body">
                <div class="result__item">Нормализация мочеиспускания <span class="result__percent">90%</span></div>
                <div class="result__item">Устранение боли при мочеиспускании и эякуляции<span class="result__percent">90%</span></div>
                <div class="result__item">Устранение отека простаты<span class="result__percent">92%</span></div>
                <div class="result__item">Улучшение эректильной функции<span class="result__percent">88%</span></div>
                <div class="result__item">Устранение воспаления<span class="result__percent">96%</span></div>
            </div>
        </div>
    </div>
</section>