<section class="section section_steps">
    <div class="container">
        <div class="steps">
            <div class="section__title steps__title" data-aos="fade-up">Механизм действия Erogan</div>
            <div class="steps__body">
                <div class="steps__item" data-aos="fade-right" data-aos-duration="200">
                    <div class="steps__count">01</div>
                    <div class="steps__description">Стимулирует работу иммунитета <span>организма, повышая его</span> защитные функции.</div>
                </div>
                <div class="steps__item" data-aos="fade-right" data-aos-duration="300">
                    <div class="steps__count">02</div>
                    <div class="steps__description">Растительные компоненты снимают отек в <span>предстательной железе, улучшают микроциркуляцию,</span> предотвращая застойные явления в простате.</div>
                </div>
                <div class="steps__item" data-aos="fade-right" data-aos-duration="400">
                    <div class="steps__count">03</div>
                    <div class="steps__description">Уменьшает риск появления <span>атипичных клеток, приводящих</span> к развитию опухолей.</div>
                </div>
            </div>
        </div>
    </div>
</section>