<section class="section section_symptoms">
    <div class="container">
        <div class="symptoms">
            <div class="section__title symptoms__title" data-aos="fade-up">Симптомы простатита</div>
            <div class="symptoms__subtitle">Простатит может протекать как в острой, так и в хронической форме. В <span>зависимости от типа заболевания симптомы будут различаться.</span></div>
            <div class="symptoms__acute" data-aos="zoom-out-right">
                <div class="symptoms__media"><img src="../media/symptoms/human.png" alt=""></div>
                <div class="symptoms__acute-body">
                    <div class="symptoms__acute-title">Острый простатит</div>
                    <div class="symptoms__list">
                        <div class="symptoms__item">Повышенная температура тела</div>
                        <div class="symptoms__item">Боли в паховой области и внизу живота</div>
                        <div class="symptoms__item">Болезненное мочеиспускание</div>
                        <div class="symptoms__item">Слабость, утомляемость, боли в мышцах</div>
                        <div class="symptoms__item">Болезни мочевого пузыря</div>
                    </div>
                </div>
            </div>
            <div class="symptoms__chronic" data-aos="zoom-out-left">
                <div class="symptoms__chronic-title">Хронический простатит</div>
                <div class="symptoms__list symptoms__list_white">
                    <div class="symptoms__item">Ноющие боли в надлобковой области</div>
                    <div class="symptoms__item">Прерывистое, болезненное мочеиспускание</div>
                    <div class="symptoms__item">Плохая эрекция</div>
                    <div class="symptoms__item">Снижение либидо, проблемы с эякуляцией</div>
                    <div class="symptoms__item">Апатия, раздражительность, вспыльчивость</div>
                </div>
            </div>
            <div class="symptoms__footer" data-aos="fade-up"><mark>Если обнаружили у себя хотя бы один из этих признаков, начните лечение как можно скорее.</mark> Запущенный простатит чреват самыми неприятными последствиями для мужчины: бесплодием, эректильной дисфункцией, аденомой и раком простаты.</div>
        </div>
    </div>
</section>