<section class="section section_symptoms">
    <div class="container">
        <div class="symptoms">
            <div class="section__title symptoms__title">Симптомы простатита</div>
            <div class="symptoms__subtitle">Простатит может протекать как в острой, так и в хронической форме. В <span>зависимости от типа заболевания симптомы будут различаться.</span></div>
            <div class="symptoms__acute">
                <div class="symptoms__media"><img src="../media/symptoms/human.png" alt=""></div>
                <div class="symptoms__acute-body">
                    <div class="symptoms__acute-title">Острый простатит</div>
                    <div class="symptoms__list">
                        <div class="symptoms__item">Повышенная температура тела</div>
                        <div class="symptoms__item">Боли в паховой области и низу живота</div>
                        <div class="symptoms__item">Болезненное мочеиспускание</div>
                        <div class="symptoms__item">Слабость, утомляемость, боли в мышцах</div>
                        <div class="symptoms__item">Болезни мочевого пузыря</div>
                    </div>
                </div>
            </div>
            <div class="symptoms__chronic">
                <div class="symptoms__chronic-title">Острый простатит</div>
                <div class="symptoms__list symptoms__list_white">
                    <div class="symptoms__item">Повышенная температура тела</div>
                    <div class="symptoms__item">Боли в паховой области и низу живота</div>
                    <div class="symptoms__item">Болезненное мочеиспускание</div>
                    <div class="symptoms__item">Слабость, утомляемость, боли в мышцах</div>
                    <div class="symptoms__item">Болезни мочевого пузыря</div>
                </div>
            </div>
            <div class="symptoms__footer"><mark>Если обнаружили у себя хотя бы один из этих признаков, начните лечение как можно скорее.</mark> Запущенный простатит чреват самыми неприятными последствиями для мужчины: бесплодием, эректильной дисфункцией, аденомой и раком простаты.</div>
        </div>
    </div>
</section>